@{
    ViewData["Title"] = "Card Page";
}

@section Scripts {
    <script type="text/javascript" src="~/js/jquery-card.js"></script>
    <script type="text/javascript" src="~/js/card-viewer.js"></script>
}

<div class="card-wrapper">
</div>
@model PaymentTest.Models.PaymentModels.PayingUser
@using (Html.BeginForm("SendRequestToBank", "Payment", FormMethod.Post)) {
    <div class="row">
        <div>
            <p>Sayın @Model.User.NameSurname,</p>
            <p> @Model.PaymentInformation.TotalAmount @Model.PaymentInformation.CurrencyCode 'lik işlem için lütfen kart bilgilerini giriniz.  </p>
            @Html.HiddenFor(u => u.PaymentInformation.TotalAmount, new { @value = @Model.PaymentInformation.TotalAmount })
            @Html.HiddenFor(u => u.PaymentInformation.CurrencyCode, new { @value = @Model.PaymentInformation.CurrencyCode })
            @Html.HiddenFor(u => u.User.Id, new { @value = Model.User.Id })
        </div>
    </div>

    <fieldset class="">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="card-no">Kart Numarası</label>
            <div class="col-sm-4">
                @Html.TextBoxFor(u => u.CardInformation.CardNumber, new { @class = "required form-control" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="card-no">Kart Üzerindeki İsim</label>
            <div class="col-sm-4">
                @Html.TextBoxFor(u => u.User.NameSurname, new { @value = @Model.User.NameSurname, @class = "required form-control" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="card-no">Son Kullanım Tarihi</label>
            <div class="col-sm-2" style="float:left">
                @Html.TextBoxFor(u => u.CardInformation.ExpiryDate, new { @class = "required form-control" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="card-no">Cvc Kod</label>
            <div class="col-sm-2" style="float:left">
                @Html.TextBoxFor(u => u.CardInformation.Cvc, new { @class = "required form-control" })
            </div>
        </div>
        <div class="col-md-12">
            <div class="md-form">
                <input type="submit" class="btn btn-primary btn-md" value="Ödemeyi Yap" />
            </div>
        </div>
    </fieldset>
}
