@{
    ViewData["Title"] = "Card Page";
}

@section Scripts {
    <script type="text/javascript" src="~/js/jquery-card.js"></script>
    <script type="text/javascript" src="~/js/card-viewer.js"></script>
}

<div class="card-wrapper">
</div>
@model PaymentTest.Models.PaymentModels.PayingUser
@using (Html.BeginForm("SendRequestToBank", "Payment", FormMethod.Post))
    {
<div class="row">   
    <div class="col-md-6">
        <div class="md-form">
            @Html.TextBoxFor(u => u.CardInformation.CardNumber, new {@class = "form-control", @placeholder="Kart Numarası"})            
        </div>
    </div>
    <div class="col-md-6">
        <div class="md-form">
            @Html.TextBoxFor(u => u.User.NameSurname, new {@value=@Model.User.NameSurname + " " + @Model.User.Surname, @class = "form-control", @placeholder="Ad Soyad"})
        </div>
    </div>
    <div class="col-md-8">
        <div class="col-md-4 md-form" style="float:left">
            @Html.TextBoxFor(u => u.CardInformation.ExpiryDate, new {@class = "form-control", @placeholder="Son Kullanım Tarihi"})            
        </div>
        <div class="col-md-4 md-form" style="float:left">
            @Html.TextBoxFor(u => u.CardInformation.Cvc, new {@class = "form-control", @placeholder="Cvc Kod"})           
        </div>
    </div>
    <div class="col-md-12">
        <div class="md-form">
            <input type="submit" class="btn btn-primary btn-md" value="Ödemeyi Yap" />
        </div>
    </div>
</div>
          }


